/SpritesheetCutter/SpritesheetCutter.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/SpritesheetCutter/SpritesheetCutter.xcodeproj/project.xcworkspace/xcuserdata/oleygenua.xcuserdatad/UserInterfaceState.xcuserstate
/SpritesheetCutter/SpritesheetCutter.xcodeproj/xcuserdata/oleygenua.xcuserdatad/xcschemes/xcschememanagement.plist
/SpritesheetCutter/SpritesheetCutter.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/SpritesheetCutter/SpritesheetCutter.xcodeproj/xcuserdata
